In this file, I will try to define a way to chunk data of Trajectory that I made, and test LSH Algorithm on them to find similar trajectory.

# Import Package

In [1]:
import pandas as pd

## Read Data & Prepare Data

In [2]:
df = pd.read_csv("All_Data.csv")

In [3]:
df.drop('Unnamed: 0', axis=1, inplace=True)

In [4]:
df.rename(columns={
    '0': 'Latitude',
    '1': 'Longitude',
    '2': 'dropit',
    '3': 'Altitude',
    '4': 'DatePass',
    '5': 'date',
    '6': 'time'
},inplace=True)

In [5]:
df.drop(['dropit','Altitude'], inplace=True, axis=1)

In [6]:
df['datetime'] = pd.to_datetime(df['date'] + ' ' + df['time'])

In [7]:
df.drop(['date', 'time'], inplace=True, axis=1)

In [8]:
df.reset_index(drop=True, inplace=True)

In [9]:
print(df.head())
print(df.shape)

    Latitude   Longitude      DatePass  user_id            datetime
0  39.984702  116.318417  39744.120185        1 2008-10-23 02:53:04
1  39.984683  116.318450  39744.120255        1 2008-10-23 02:53:10
2  39.984686  116.318417  39744.120313        1 2008-10-23 02:53:15
3  39.984688  116.318385  39744.120370        1 2008-10-23 02:53:20
4  39.984655  116.318263  39744.120428        1 2008-10-23 02:53:25
(24877886, 5)

In [10]:
df = df[['user_id', 'Latitude', 'Longitude', 'datetime']]

In [11]:
df.head()

   user_id   Latitude   Longitude            datetime
0        1  39.984702  116.318417 2008-10-23 02:53:04
1        1  39.984683  116.318450 2008-10-23 02:53:10
2        1  39.984686  116.318417 2008-10-23 02:53:15
3        1  39.984688  116.318385 2008-10-23 02:53:20
4        1  39.984655  116.318263 2008-10-23 02:53:25

In [12]:
User_one_test = df[df.user_id ==1]

In [13]:
User_one_test

     user_id   Latitude   Longitude            datetime
0          1  39.984702  116.318417 2008-10-23 02:53:04
1          1  39.984683  116.318450 2008-10-23 02:53:10
2          1  39.984686  116.318417 2008-10-23 02:53:15
3          1  39.984688  116.318385 2008-10-23 02:53:20
4          1  39.984655  116.318263 2008-10-23 02:53:25
..       ...        ...         ...                 ...
903        1  40.009172  116.321211 2008-10-23 11:10:52
904        1  40.009204  116.321130 2008-10-23 11:10:57
905        1  40.009243  116.321050 2008-10-23 11:11:02
906        1  40.009269  116.320978 2008-10-23 11:11:07
907        1  40.009328  116.320887 2008-10-23 11:11:12

[908 rows x 4 columns]

In [39]:
print('time window: %s' 
      %(User_one_test.datetime[User_one_test.index[-1]] - User_one_test.datetime[0] ))

time window: 0 days 08:18:08

# Chunk Data by Time 30 minutes

In this cell, I will chunk the data with 30 minutes window